body {
	position: absolute;
	width: 380px;
	text-align: left;
    overflow: hidden;
}

input,button,.button {
  font-size: 20px;
}

#output-log {
  overflow: scroll;
  height: 122px;
  border: 1px solid green;
  font-size: 10px;
  margin: auto;
}
.output {
  width: 350px;
  height: 30px;
  overflow: scroll;
}

.red {
  text-color: red;
}

.green {
  text-color: green;
}
