body {
	position: absolute;
	width: 380px;
	text-align: center;
}

input,button,.button {
  font-size: 20px;
}

#output-log {
  overflow: scroll;
  height: 65px;
  border: 1px solid green;
  font-size: 10px;
  margin: auto;
}

.red {
  text-color: red;
}

.green {
  text-color: green;
}
